body {
  text-align: center;
  margin-top: 50px;
  font-family: "Courier";
  background-color: #dbd4d4f3;
  color: black;
}



#IMY {
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#missyoulove {
  max-width: 300px; /* Adjust the max-width as needed */
  height: auto;
  margin-bottom: 20px; /* Add margin below the image */
}


p {
  font-size: 20px;
  margin-top: 40px;
  text-align: center; /* Align the text to the left */
  margin-left: 20px; /* Adjust the left margin */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  padding: 10px;
}


#message {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


p:nth-child(odd) {
  background-color: #f5f5f5; /* Light gray */
}
p:nth-child(even) {
  background-color: #e0e0e0; /* Darker gray */
}

p {
  animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.answerButton {
  padding: 10px 20px;
  font-size: 23px;
  cursor: pointer;
  margin: 60px auto 20px; /* Center horizontally and move up */
  font-family: "Courier", monospace;
  background-color: #f1eeee;
  color: rgb(37, 37, 37);
  border-radius: 12px;
  border: 2px solid #000000;
  box-shadow: 1px 1px 2px rgb(37, 37, 37);
  transition: 0.3s;
  display: block;
  width: fit-content;
}






.answerButton:hover {
  background-color: rgb(37, 37, 37);
  color: #ffffff;
  border: 2px solid rgb(37, 37, 37);
  box-shadow: 1px 1px 2px #ffe3e1;
}

