body {
  text-align: center;
  margin-top: 3px;
  font-family: "Courier";
  background-color: #dbd4d4f3;
  color: rgb(37, 37, 37);
}

#thankyou {
  font-size: 40px;
  margin-bottom: 12px;
}

h1 {
  font-size: 25px;
  margin-top: 10px;
  text-align: left;
  margin-left: 1px;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: right;
  margin-right: 3px;
}

p {
  text-align: left;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: normal;
}

p:last-child {
  border-bottom: 2px solid black; /* Add border to last sentence only */
}

#catt {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}
